# Will have file extensions that should not be version controlled

# Created by https://www.gitignore.io/api/python

### Python ###
*.pyc

# Django stuff:
*.log
local_settings.p

#PyCharm stuff:
*.idea

# Mac stuff:
.DS_Store

#Calibration
calibration_data.txt

#Model files
*.npy

*.bine

*.un~
