<!DOCTYPE html>
<html lang="en">
<head>
  <title>Download Asla</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Download ASLA</h1>
      <a href="/">Click here to go back to the Homepage</a>
  </div>
</div>
<div class="container">
  <button type="button" onclick="location.href = 'https://dl.dropboxusercontent.com/u/88017022/user.zip';" id="download" class="btn btn-success">Download</button>
</div>

</body>
</html>
