{% extends "main_template.html" %}
{% block content %}
    <section id="login-form">
        <div class="container">
            <form class="form-horizontal" method="POST" action="login_expert" >
                <div class="form-group">
                    <label class="control-label col-sm-2" for="okey">OAuthKey:</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" name="pwd" placeholder="Enter password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" value="Send">Login</button>
                    </div>
                </div>
            </form>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
          {% if messages %}            
            {% for category, message in messages %}
            <script>
                var cat = "{{ category|safe }}"
                var mess = "{{ message|safe }}"
                var mess_tag;
                if (cat == "error") {
                    mess_tag = "Oops!";
                } else {
                    mess_tag = "Yay!";
                }
                swal({ title: mess_tag,   text: mess,   type: cat, confirmButtonColor: "#F05F40",   confirmButtonText: "Okay",   closeOnConfirm: true }, 
                    function(){
                        if (cat == "success") {
                            window.location.href = "/";
                        }
                    });
            </script>
            {% endfor %}            
          {% endif %}
        {% endwith %}
    </section>
    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/creative.min.js"></script>
{% endblock %}
